.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  left: 60%;
  top: 200px;
}

.controlColumn {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .controlColumn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: scroll;
    position: relative;
    width: 100%;
  }
}

.background {
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40%;
}